.dashboard-container {
    text-align: center;
    align-content: center;
}

.dashboard-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: center;
}

.dashboard-cards {
    display: flex;
    gap: 25px;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
}

.dashboard-card {
    width: 300px;
    text-align: center;
}

.dashboard-charts {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chart-title {
    font-size: 1.6rem;
    margin-bottom: 15px;
    font-weight: 500;
    color: midnightblue;
}

.dashboard-table .MuiTableCell-root {
    color: midnightblue;
}